<html>
<head>
    <title>Products</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="~/content/css/bootstrap.css" />
    <link rel="stylesheet" href="~/content/https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="~/content/js/jQuery.js"></script>
    <script type="text/javascript" src="~/content/js/bootstrap.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Amita' rel='stylesheet'>
    <link rel="stylesheet" href="~/content/css/productsStyle2.css" />
    <meta charset="utf-8">
    
    <!-- -->
    <link href="~/content/css/resCarousel.css" rel="stylesheet" type="text/css">
    <script src="~/content/js/resCarousel.js"></script>
    <script src="~/content/js/myJava.js"></script>
    
</head>
<body>
    <main>
        <header dir="rtl">
           <nav  class="nav justify-content-between">
               <div class="col-lg-3 col-md-6 col-sm-12" style="padding-top: 17.5px; padding-left: 17%; padding-right: 4%;"><img src="~/content/images/LOGO.png"></div>
               <h4 class="col-lg-3 col-md-6 col-sm-12">
                   @Html.ActionLink("لوحة التحكم", "Index2",null, new {@style="text-decoration: none; padding-left:7px;"})<img src="~/content/images/icons8-back-arrow-26.png">
               </h4>
            </nav>
        </header>
        
        <div class="clear"></div>
        <div class="py-1" style="background-color: dodgerblue"></div>
        
        <!--product start-->
        <div id="product">
            <div class="container">
                <div class="card-deck" style="margin-top: 50px;">
                    <div class="card">
                        <div id="image">
                            <img class="card-img-top" src="~/content/images/watches2.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body">
                          <p class="card-text">ساعة يد للنساء، أنالوج من الستانلس ستيل من دي كيه ان واي (NY2417)</p>
                            <h5 class="card-title" style="margin-left: 2%">1157</h5>
                            <h5 class="card-title">ج.م</h5>
                            @Html.ActionLink("التفاصيل", "ProductDetails2",null, new {@class="btn btn-primary"})
                        </div>
                    </div>
                    <div class="card">
                        <div id="image">
                              <img class="card-img-top" src="~/content/images/watches4.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <p class="card-text">ساعة يد أنالوج بقرص أسود للنساء من كالفن كلاين (K5T33C41)</p>
                            <h5 class="card-title" style="margin-left: 2%">1157</h5>
                            <h5 class="card-title">ج.م</h5>
                            @Html.ActionLink("التفاصيل", "ProductDetails2",null, new {@class="btn btn-primary"})
                        </div>
                    </div>
                    <div class="card">
                        <div id="image">
                            <img class="card-img-top" src="~/content/images/watches6.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body">
                          <p class="card-text">ساعة يد للنساء، أنالوج من الستانلس ستيل من دي كيه ان واي (NY2417)</p>
                            <h5 class="card-title" style="margin-left: 2%">1157</h5>
                            <h5 class="card-title">ج.م</h5>
                            @Html.ActionLink("التفاصيل", "ProductDetails2",null, new {@class="btn btn-primary"})
                        </div>
                      </div>
                    <div class="card">
                        <div id="image">
                            <img class="card-img-top" src="~/content/images/watches8.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <p class="card-text">ساعة يد أنالوج بقرص أسود للنساء من كالفن كلاين (K5T33C41)</p>
                            <h5 class="card-title" style="margin-left: 2%">1157</h5>
                            <h5 class="card-title">ج.م</h5>
                            @Html.ActionLink("التفاصيل", "ProductDetails2",null, new {@class="btn btn-primary"})
                        </div>
                    </div>
                </div>
                
                <div class="card-deck" style="margin-top: 30px;">
                    <div class="card">
                        <div id="image">
                            <img class="card-img-top" src="~/content/images/watches2.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body">
                          <p class="card-text">ساعة يد للنساء، أنالوج من الستانلس ستيل من دي كيه ان واي (NY2417)</p>
                            <h5 class="card-title" style="margin-left: 2%">1157</h5>
                            <h5 class="card-title">ج.م</h5>
                            @Html.ActionLink("التفاصيل", "ProductDetails2",null, new {@class="btn btn-primary"})
                        </div>
                    </div>
                    <div class="card">
                        <div id="image">
                              <img class="card-img-top" src="~/content/images/watches4.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <p class="card-text">ساعة يد أنالوج بقرص أسود للنساء من كالفن كلاين (K5T33C41)</p>
                            <h5 class="card-title" style="margin-left: 2%">1157</h5>
                            <h5 class="card-title">ج.م</h5>
                            @Html.ActionLink("التفاصيل", "ProductDetails2",null, new {@class="btn btn-primary"})
                        </div>
                    </div>
                    <div class="card">
                        <div id="image">
                            <img class="card-img-top" src="~/content/images/watches6.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body">
                          <p class="card-text">ساعة يد للنساء، أنالوج من الستانلس ستيل من دي كيه ان واي (NY2417)</p>
                            <h5 class="card-title" style="margin-left: 2%">1157</h5>
                            <h5 class="card-title">ج.م</h5>
                            @Html.ActionLink("التفاصيل", "ProductDetails2",null, new {@class="btn btn-primary"})
                        </div>
                      </div>
                    <div class="card">
                        <div id="image">
                            <img class="card-img-top" src="~/content/images/watches8.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <p class="card-text">ساعة يد أنالوج بقرص أسود للنساء من كالفن كلاين (K5T33C41)</p>
                            <h5 class="card-title" style="margin-left: 2%">1157</h5>
                            <h5 class="card-title">ج.م</h5>
                            @Html.ActionLink("التفاصيل", "ProductDetails2",null, new {@class="btn btn-primary"})
                        </div>
                    </div>
                </div>
                
                <div class="card-deck" style="margin-top: 30px;">
                    <div class="card">
                        <div id="image">
                            <img class="card-img-top" src="~/content/images/watches2.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body">
                          <p class="card-text">ساعة يد للنساء، أنالوج من الستانلس ستيل من دي كيه ان واي (NY2417)</p>
                            <h5 class="card-title" style="margin-left: 2%">1157</h5>
                            <h5 class="card-title">ج.م</h5>
                            @Html.ActionLink("التفاصيل", "ProductDetails2",null, new {@class="btn btn-primary"})
                        </div>
                    </div>
                    <div class="card">
                        <div id="image">
                              <img class="card-img-top" src="~/content/images/watches4.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <p class="card-text">ساعة يد أنالوج بقرص أسود للنساء من كالفن كلاين (K5T33C41)</p>
                            <h5 class="card-title" style="margin-left: 2%">1157</h5>
                            <h5 class="card-title">ج.م</h5>
                            @Html.ActionLink("التفاصيل", "ProductDetails2",null, new {@class="btn btn-primary"})
                        </div>
                    </div>
                    <div class="card">
                        <div id="image">
                            <img class="card-img-top" src="~/content/images/watches6.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body">
                          <p class="card-text">ساعة يد للنساء، أنالوج من الستانلس ستيل من دي كيه ان واي (NY2417)</p>
                            <h5 class="card-title" style="margin-left: 2%">1157</h5>
                            <h5 class="card-title">ج.م</h5>
                            @Html.ActionLink("التفاصيل", "ProductDetails2",null, new {@class="btn btn-primary"})
                        </div>
                      </div>
                    <div class="card">
                        <div id="image">
                            <img class="card-img-top" src="~/content/images/watches8.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <p class="card-text">ساعة يد أنالوج بقرص أسود للنساء من كالفن كلاين (K5T33C41)</p>
                            <h5 class="card-title" style="margin-left: 2%">1157</h5>
                            <h5 class="card-title">ج.م</h5>
                            @Html.ActionLink("التفاصيل", "ProductDetails2",null, new {@class="btn btn-primary"})
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--product end-->
   
    </main>
</body>
</html>
